<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="input-group">
                <div class="input-group">
                    <select class="form-control"
                            ng-model="username">
                        <option>fmonteiro6</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" 
                                type="button"
                                ng-click="login()"
                                ng-disable="!username">
                            Login
                        </button>
                    </span>
                </div> 
            </div> <!-- /input-group -->
        </div>
    </div>
</div>