<div class="container">
    <div class="row">
        <div class="col col-md-5">
            <h3><u>Classes</u></h3>

            <!-- Display message when no classes/groups -->
            <div class="panel panel-default"
                 ng-if="(!selectedClasses || selectedClasses.length == 0) &&
                        (!selectedGroups || selectedGroups.length == 0)">
                <div class="panel-body">
                    <p>
                        You currently have no classes selected. To add a class,
                        click on 'Add Class'. To add a group of classes that
                        fulfill the same degree requirement, click on 'Add Group'.
                        Classes that are grouped together are mutually exclusive:
                        they cannot both appear in the same schedule.
                    </p>
                </div>
            </div>

            <!--List selected classes-->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="class in selectedClasses">
                    <small><span class="glyphicon glyphicon-lock pull-right"></span></small>
                    {{class.department}} {{class.class_number}} - <em>{{class.name}}</em>
                </li>
                <li class="list-group-item" ng-repeat="group in selectedGroups">
                    <small><span class="glyphicon glyphicon-th-large pull-right"></span></small>
                    <p ng-repeat="class in group">{{class.department}} {{class.class_number}} - <em>{{class.name}}</em></p>
                </li>
            </ul>

            <div class="btn-group">
                <label class="btn btn-default"
                       ng-model="radioModel"
                       uib-btn-radio="'Add Class'"
                       data-toggle="modal"
                       data-target="#class-modal">
                       Add Class
                </label>
                <label class="btn btn-default"
                       ng-model="radioModel"
                       uib-btn-radio="'Add Group'"
                       data-toggle="modal"
                       data-target="#group-modal">
                       Add Group
                </label> <!--./btn-group -->
            </div>
        </div>

        <div class="col col-md-2">
        </div>

        <div class="col col-md-5">
            <h3><u>Criteria</u></h3>
        </div>
    </div>
</div>

<div ng-controller="ModalCtrl">
    <div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            aria-label="Close"
                            data-dismiss="modal"
                            ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Class</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Department</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.selectedDept"
                                    ng-change="filterClassesByDept()">
                                <option ng-repeat="dept in allDepartments">{{dept}}</option>
                            </select>
                        </div>
                    </div> <!--./row-->
                    <br />
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Class</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.selectedClass">
                                <option ng-repeat="class in modalData.filteredClasses">
                                    {{class.class_number}} ({{class.name}})
                                </option>
                            </select>
                        </div>
                    </div> <!--./row-->
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            close-modal modal-to-close="#class-modal" function-to-call="resetModal()">
                            Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!modalData.selectedDept || !modalData.selectedClass"
                            close-modal modal-to-close="#class-modal" function-to-call="selectClass()">
                        Add Class
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="group-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            aria-label="Close"
                            data-dismiss="modal"
                            ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Group</h4>
                </div>

                <div class="modal-body">
                    TODO: Remove selected classes from grouping
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Department</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.selectedDept"
                                    ng-change="filterClassesByDept()">
                                <option ng-repeat="dept in allDepartments">{{dept}}</option>
                            </select>
                        </div>
                    </div> <!--./row-->

                    <br />
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Class</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.groupClass"
                                    ng-change="updateGroupClasses()">
                                <option ng-repeat="class in modalData.filteredClasses">
                                    {{class.class_number}} ({{class.name}})
                                </option>
                            </select>
                        </div>
                    </div> <!--./row-->

                    <br />
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="class in modalData.groupClasses">
                            {{class.class_number}} {{class.name}}
                            <small><span class="glyphicon glyphicon-remove pull-right"></span></small>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            close-modal modal-to-close="#group-modal" function-to-call="resetModal()">
                            Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!modalData.selectedDept ||
                                         !modalData.groupClasses ||
                                         modalData.groupClasses.length === 0"
                            close-modal modal-to-close="#group-modal" function-to-call="selectGroup()">
                        Add Group
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

