<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col col-md-8">
            <table id="class-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mon</th>
                        <th>Tues</th>
                        <th>Wed</th>
                        <th>Thurs</th>
                        <th>Fri</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="class-table-cell"
                        ng-repeat="timeSlot in timeSlots">
                        <td><strong>{{formatTime(timeSlot.time)}}</strong></td>
                        <td class="schedule-table-cell" ng-repeat="weekDay in weekDays" watch-height>
                            <a href="javascript:void(0)"
                               class="btn btn-sm btn-default"
                               type="button"
                               data-target="#accordion-for-{{class.department}}-{{class.class_number}}"
                               ng-repeat="class in timeSlot.classes | orderBy: '+start_time'"
                               hide on-condition="{{class.day_of_week !== weekDay}}">
                                <strong>{{class.department}} {{class.class_number}}</strong>
                                <br />
                                <small>
                                    {{formatTime(class.start_time)}} - {{formatTime(class.end_time)}}
                                </small>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col col-md-4">
            <div class="panel-group">
                <div class="panel panel-default class-accordion"
                     id="accordion-for-{{class.department}}-{{class.class_number}}"
                     ng-repeat="class in savedClassData">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                               href="javascript:void(0)">
                                {{class.department}} {{class.class_number}} {{class.class_name}}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                        <small>
                            <div class="row">
                                <div class="col col-md-7">
                                    <p><label>Section:</label> {{class.section_name}}</p>
                                    <p><label>CRN:</label> {{class.crn}}</p>
                                    <p><label>Prof:</label> {{class.professor}}</p>
                                </div>
                                <div class="col col-md-5">
                                    <p>
                                        <label ng-repeat="time in class.times">
                                            {{formatTime(time.start_time)}} - {{formatTime(time.end_time)}}
                                        </label>
                                    </p>
                                    <p >
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td ng-repeat="weekDay in weekDays">
                                                    <div ng-class="[
                                                            {'square black':
                                                                class.days_of_week.indexOf('{{weekDay}}') !== -1},
                                                            {'square white':
                                                                class.days_of_week.indexOf('{{weekDay}}') === -1}]">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </p>
                                    <p style="margin-top: 20px"><label>Loc:</label> {{class.location}}</p>
                                </div>
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-info" href="#/workspace-edit/">Edit Schedule</a>
    </div>
</div>

<script>
    $(document).on("click", ".class-table-cell a", function() {
        var thisDataTarget = $(this).attr('data-target');
        $('.class-table-cell a').each(function() {
            var target = $(this).attr('data-target').trim(),
            body = $(target).find('.panel-collapse');
            if (body.hasClass('in')) {
                $(target).removeClass('panel-primary');
                body.removeClass('in');
            }
            if ($(this).attr('data-target') === thisDataTarget) {
                $(this).removeClass('btn-default').addClass('btn-primary');
            } else {
                $(this).addClass('btn-default').removeClass('btn-primary');
            }
        });
        var target = $(this).attr('data-target').trim(),
            body = $(target).find('.panel-collapse');
        if (body.hasClass('in')) {
            $(target).removeClass('panel-primary');
            body.removeClass('in');
        } else {
            $(target).addClass('panel-primary');
            body.addClass('in');
        }
    }).on("click", ".class-accordion a", function() {
        var thisObjectID = '#' + $(this).closest('.panel').attr('id');
        $('.class-table-cell a').each(function() {
            if ($(this).attr('data-target') === thisObjectID) {
                $(this).removeClass('btn-default').addClass('btn-primary');
            } else {
                $(this).addClass('btn-default').removeClass('btn-primary');
            }
        });
        $('.class-accordion a').each(function() {
            var panel = $(this).closest('.class-accordion'),
            panelBody = panel.find('.panel-collapse');
            if (panel.hasClass('panel-primary')) {
                panel.removeClass('panel-primary');
                panelBody.removeClass('in');
            }
        });
        var panel = $(this).closest('.class-accordion'),
            panelBody = panel.find('.panel-collapse');
        if (panel.hasClass('panel-primary')) {
            panel.removeClass('panel-primary');
            panelBody.removeClass('in');
        } else {
            panel.addClass('panel-primary');
            panelBody.addClass('in');
        }
    });
</script>