<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tues</th>
                        <th>Wed</th>
                        <th>Thurs</th>
                        <th>Fri</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="col col-md-5">
            <div uib-accordion close-others="oneAtATime">
                <div ng-repeat="class in classData" 
                     uib-accordion-group heading="{{class.department}} {{class.class_number}} {{class.name}}"
                     is-open="status.isFirstOpen" 
                     is-disabled="status.isFirstDisabled">
                  <label>CRN:</label>&nbsp;{{class.crn}}<br />
                  <label>Professor:</label>&nbsp;{{class.professor}}<br />
                  <label>Location:</label>&nbsp;{{class.location}}
                <div /uib-accordion-group>    
            </div uib-accordion>
        </div>
    </div>
</div>
 