<div class="container">
    <div class="row">
        <div class="col col-md-5">
            <h3>
                <u>Classes</u>
                <small>
                    <a href="javascript:void(0)" 
                       class="glyphicon glyphicon-info-sign"
                       ng-click="showInfo = !showInfo">
                   </a>
               </small>
            </h3>
            <small ng-show="showInfo === true">
                <span class="glyphicon glyphicon-star"></span> = mandatory |
                <span class="glyphicon glyphicon-star-empty"></span> = optional |
                <span class="glyphicon glyphicon-th-large"></span> = pick one from group
            </small>

            <!-- Display message when no classes/groups -->
            <div class="panel panel-default"
                 ng-if="(!selectedClasses || selectedClasses.length == 0) &&
                        (!selectedGroups || selectedGroups.length == 0)">
                <div class="panel-body">
                    <p>
                        You currently have no classes selected. To add a class,
                        click on 'Add Class'. To add a group of classes that
                        fulfill the same degree requirement, click on 'Add Group'.
                        Classes that are grouped together are mutually exclusive:
                        they cannot both appear in the same schedule.
                    </p>
                </div>
            </div>

            <!--List selected classes-->
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="class in selectedClasses">
                    <small>
                        <a href="javascript:void(0)"
                           style="margin-left: 5px"
                           class="glyphicon glyphicon-remove no-link pull-right"
                           ng-click="undoSelection(class, 'selectedClasses')">
                        </a>
                        <a  href="javascript:void(0)"
                            ng-class="{'glyphicon glyphicon-star no-link pull-right': class.isMandatory === true,
                                       'glyphicon glyphicon-star-empty no-link pull-right': !class.isMandatory}"
                            ng-click="updateClassMandatoryStatus(class)">
                        </a>
                    </small>
                    {{class.department}} {{class.class_number}} - <em>{{class.name}}</em>
                </li>
                <li class="list-group-item"
                    ng-repeat="group in selectedGroups">
                    <small>
                        <a href="javascript:void(0)"
                           style="margin-left: 5px"
                           class="glyphicon glyphicon-remove no-link pull-right"
                           ng-click="undoSelection(class, 'selectedGroups')">
                        </a>
                        <span class="glyphicon glyphicon-th-large pull-right"></span>
                    </small>
                    <p ng-repeat="class in group">{{class.department}} {{class.class_number}} - <em>{{class.name}}</em></p>
                </li>
            </ul>

            <div class="btn-group">
                <label class="btn btn-default"
                       ng-model="radioModel"
                       uib-btn-radio="'Add Class'"
                       data-toggle="modal"
                       data-target="#class-modal">
                       Add Class
                </label>
                <label class="btn btn-default"
                       ng-model="radioModel"
                       uib-btn-radio="'Add Group'"
                       data-toggle="modal"
                       data-target="#group-modal">
                       Add Group
                </label> <!--./btn-group -->
            </div>
        </div>

        <div class="col col-md-2">
        </div>

        <div class="col col-md-5">
            <h3>
                <u>Criteria</u>
                <small>
                <a href="javascript:void(0)" 
                   class="glyphicon glyphicon-info-sign"
                   ng-click="showInfo2 = !showInfo2">
                </a>
                </small>
            </h3>
            <small ng-show="showInfo2 === true">
                <h5>Use this section to modify your preferences!</h5>
            </small>
            <div style="margin-bottom: 10px;">
                <label style="display: table-cell; vertical-align: middle;">Number of Credit Hours: </label>
                <span style="display: table-cell;">
                    <input style="margin-left: 10px;" type="number" min="0" max="21" ng-model="credit" class="form-control" />
                </span>
            </div>
            <uib-accordion close-others="true">
                <uib-accordion-group heading="Time of Day" is-open="true">
                <div style="margin-bottom: 10px; margin-right: 50px; float: left;">
                    <label>Earliest Class: </label><p>(start time)</p>
                    <form name="test">
                        <input type="time" ng-model="earliestTime" placeholder="HH:mm" min="08:00" max="20:00"></input>
                    </form>
                </div>
                <div>
                    <label>Latest Class: </label><p>(start time)</p>
                    <form name="test2">
                        <input type="time" ng-model="latestTime" placeholder="HH:mm" min="08:00" max="20:00"></input>
                    </form>
                </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Time Between Classes">
                    <form name="betweenClass">
                        <label style="margin-right: 10px;">Time (hrs):</label>
                        <select name="between" ng-model="betweenDistance">
                          <option>1</option>
                          <option>1.5</option>
                          <option>2</option>
                          <option>2.5</option>
                          <option>3</option>
                        </select>
                    </form>
                </uib-accordion-group>
                <uib-accordion-group heading="Distance Between Classes">
                    <form name="distance">
                        <label style="margin-right: 10px;">Walking Distance (mins):</label>
                        <select name="distance" ng-model="walkingDistance">
                          <option>5</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                      </select>
                    </form>
                </uib-accordion-group>
                <uib-accordion-group heading="Reserved Time">
                    <!-- TO DO -->
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>

<div ng-controller="ModalController">
    <div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            aria-label="Close"
                            data-dismiss="modal"
                            ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Class</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Department</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.selectedDept"
                                    ng-change="filterClassesByDept()">
                                <option ng-repeat="dept in allDepartments">{{dept}}</option>
                            </select>
                        </div>
                    </div> <!--./row-->
                    <br />
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Class</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-options="c as (c.class_number + ' - ' + c.name) for c in modalData.filteredClasses"
                                    ng-model="modalData.selectedClass"
                                    ng-change="updateSelectedClass()">
                            </select>
                        </div>
                    </div> <!--./row-->
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            close-modal modal-to-close="#class-modal" function-to-call="resetModal()">
                            Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!modalData.selectedDept || !modalData.selectedClass"
                            close-modal modal-to-close="#class-modal" function-to-call="selectClass()">
                        Add Class
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="group-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            aria-label="Close"
                            data-dismiss="modal"
                            ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Group</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Department</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-model="modalData.selectedDept"
                                    ng-change="filterClassesByDept()">
                                <option ng-repeat="dept in allDepartments">{{dept}}</option>
                            </select>
                        </div>
                    </div> <!--./row-->

                    <br />
                    <div class="row">
                        <div class="col col-md-4">
                            <label><u>Class</u></label>
                        </div>
                        <div class="col col-md-8">
                            <select class="form-control"
                                    ng-options="c as (c.class_number + ' - ' + c.name) for c in modalData.filteredClasses"
                                    ng-model="modalData.selectedClass"
                                    ng-change="updateSelectedGroupClasses()">
                            </select>
                        </div>
                    </div> <!--./row-->

                    <br />
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="class in modalData.groupClasses">
                            {{class.class_number}} - <em>{{class.name}}</em>
                            <small>
                                <a href="javascript:void(0)"
                                   class="glyphicon glyphicon-remove no-link pull-right"
                                   ng-click="removeSelectedGroupOption(class)">
                               </a>
                            </small>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            close-modal modal-to-close="#group-modal" function-to-call="resetModal()">
                            Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!modalData.selectedDept ||
                                         !modalData.groupClasses ||
                                         modalData.groupClasses.length === 0"
                            close-modal modal-to-close="#group-modal" function-to-call="selectGroup()">
                        Add Group
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

