<!doctype html>
<html>
    <head>
        <title>ScheduleMe</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.css" type="text/css"/>

        <script src="/static/lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="/static/lib/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script src="/static/lib/angular/angular.js" type="text/javascript"></script>
    </head>
    <body>
    
        {{{body}}}
        
    </body>
</html>
