
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <h1>CourseOff Script</h1>
            <a class="btn btn-primary" href="/init">Scrape data</a>
        </div>
    </div>
</div>

<script src="/static/scripts/courseoff_db.js"></script>
