<html>
<body style=" background-color: lightgrey">
  <div style="padding: 50px">

   <div ng-app="">
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="font-size: 200%; color: #336699" class="navbar-brand" href="#">Schedule.Me</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="#schedule">Schedule</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="padding: 100px;">
      <img style="float:left; width:5%" src="http://tr3.cbsistatic.com/fly/331-fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"/>
      <p style="font-size: 140%; float: left; margin-left: 20px">gburdell3</p>
    </div>
    <footer style="background-color:#e7e7e7" class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">Georgia Institute of Technology | Terms & Conditions | About | Contact</p>
      </div>
    </footer>
  </div>
</div>
</body>
</html>