<div style="padding: 100px;">
    <img style="float:left; width:5%" src="http://tr3.cbsistatic.com/fly/331-fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"/>
    <p style="font-size: 140%; float: left; margin-left: 20px">gburdell3</p>
</div>


